
.bg{
	background:url("/ReleaseAndBuy/static/icon/CartBg.jpg");
}

.rbg{
	background:url("/ReleaseAndBuy/static/icon/release.jpg");
	width:100%;
	height:100%;
}
.transparency{
	background:rgba(0,0,0,0);
}

